<!doctype html>
<html>
    <head>
        <title>Build-a-Blog!</title>
    </head>
<body>
    <header>
        <nav>
            <tr>
                <td><a href="/">Blog Home</a></td>
                <td><a href="/allblogs">All Blogs</a></td>
                <td><a href="/newpost">Create New Post</a></td>
                <td><a href="/signup">Sign Up</a></td>
                <td><a href="/login">Log In</a></td>
                <td><a href="/logout">Log Out</a></td>

            </tr>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>