<!doctype html>
<html>
    <head>
        <title>Blogz!</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='blogzstylesheet.css')}}">
    </head>
<body>
    <header>
            <table>
                <tr>
                    <td class="navigation"><a href="/">Blog Home</a></td>
                    <td class="navigation"><a href="/blog">All Blogs</a></td>
                    <td class="navigation"><a href="/newpost">Create New Post</a></td>
                    
                    
                    
                    {% if 'username' in session %}


                    <td class="user"><a href="/logout">Log Out</a></td>

                    {% else %}

                    <td class="user"><a href="/signup">Sign Up</a></td>
                    <td class="user"><a href="/login">Log In</a></td>

                    {% endif %}
                
                
                </tr>
            </table>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>