{% extends "base.html" %}


{% block content %}

    <h1>Add a New Blog Entry</h1>
        <form method='post' action='/newpost'>
            
            <label>
                Title: <br>
                <input type="text" name="title" /> {{title_error}}
            </label>

            <br><br>
        
            <label>
                Body: <br>
                <textarea type="text" name="body" placeholder="Enter text here..."></textarea> {{body_error}}
            </label>
           
            <br><br>

            <input type="submit" value='submit' />
                
        </form>


{% endblock %}